
body {
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* آبی دارک */
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366; /* آبی تیره */
    padding: 20px;
    text-align: center;
    position: relative;
}

.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar {
    display: none; /* مخفی کردن منو به طور پیش‌فرض */

}

.navbar.active {
    display: block; /* نمایش منو وقتی فعال است */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    

}

.navbar ul li {
    margin: 1px 0;
    width: 25%;
    float: left;
  text-align: center;
  background-color: #001f3f;
 
}

.navbar ul li a {
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.container {
    width: 80%;
    margin: auto;
    margin-top:  30px;
    padding: 20px ;
    background-color: #002244; /* آبی تیره تر */
    border-radius: 5px;

}

h2 {
    color: #ffcc00; /* رنگ طلایی */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    background-color: #004080; /* رنگ پس‌زمینه محصولات */
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    flex:calc(50% - 30px); /* سه محصول در هر ردیف */
}
.product-item img
{
size: 20px;
width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #00509e; /* آبی میانه */
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

button:hover {background-color: #0066cc; /* رنگ روشن‌تر برای حالت هاور */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #003366; /* آبی تیره */
}
div input {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #0066cc; /* آبی تیره تر */
    border-radius: 5px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    
}
div .back{
    text-align: center;
}
.pro{
  background-color: darkgoldenrod;
   
}
.pro div div{
    background-color: #ebc300;
   
}